<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="UPM-ETSIINF" name="sla_manager" version="0.9.0">
  <details>
    <title>SLA Manager</title>
    <email>wirecloud@conwet.com</email>
    <image>images/catalogue.png</image>
    <smartphoneimage>images/catalogue.png</smartphoneimage>
    <description>FIDASH widget to manage Service Level Agreements.</description>
    <homepage>https://github.com/fidash/widget-SLAManager</homepage>
    <issuetracker>https://github.com/fidash/widget-SLAManager/issues</issuetracker>
    <doc>docs/index.html</doc>
    <authors>Borja Illescas &lt;billescas@conwet.com&gt;, Braulio Grana Gutiérrez &lt;bgrana@conwet.com&gt;</authors>
  </details>
  <preferences>
    <preference type="text" name="user" description="User for accessing the SLAManager API" label="User" default="Sl4S3rv1c3Us3r" ></preference>
    <preference type="password" name="password" description="Password for accessing the SLAManager API" label="Password" default="" ></preference>
  </preferences>
  <persistentvariables>
  </persistentvariables>
  <wiring>
  </wiring>
  <contents src="index.html" useplatformstyle="true"/>
  <rendering height="26" width="11"/>
</widget>
