<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="sla_manager" version="0.1">
  <details>
    <title>SLA Manager Widget</title>
    <email>wirecloud@conwet.com</email>
    <image>images/catalogue.png</image>
    <smartphoneimage>images/catalogue.png</smartphoneimage>
    <description>FIDASH widget to manage Service Level Agreements.</description>
    <homepage>https://github.com/fidash/widget-SLAManager</homepage>
    <issuetracker>https://github.com/fidash/widget-SLAManager/issues</issuetracker>
    <doc>docs/index.html</doc>
    <authors>Borja Illescas &lt;billescas@conwet.com&gt;</authors>
  </details>
  <preferences>
    <preference name="server_url" type="text" label="SLA Manager URL" description="URL of the SLA Manager server." default="http://private-anon-8ac6bf75f-slamanagercore.apiary-mock.com"/>
    <preference name="user" type="text" label="User" description="User for authenticating with the SLA Manager." default="user"/>
    <preference name="password" type="password" label="Password" description="Password for authenticating with the SLA Manager." default="SysT3m4T0sSL4Us3r"/>
    <preference name="status_filter" type="list" label="Status" description="Filter by status" default="default">
      <option value="all" label="All"/>
      <option value="fullfiled" label="Fullfiled"/>
      <option value="violated" label="violated"/>
      <option value="nondetermined" label="Non determined"/>
    </preference>
    <preference name="provider_filter" type="text" label="Provider" description="Filter by provider name." default=""/>   
  </preferences>
  <persistentvariables>
  </persistentvariables>
  <wiring>
  </wiring>
  <contents src="index.html" useplatformstyle="true"/>
  <rendering height="26" width="10"/>
</widget>
